# Default registry for most packages
registry=https://npm.echohq.com/
 
# Auth for Echo registry
//npm.echohq.com/:_authToken=
//packages.echohq.com/:_authToken=

# Fetch @types packages from the public npm registry
@types:registry=https://registry.npmjs.org/

# GitHub Packages scope
@checkmarx:registry=https://npm.pkg.github.com/

# GitHub Packages auth
//npm.pkg.github.com/:_authToken=
 
always-auth=true
ignore-scripts=true
