# Default registry for most packages
registry=https://npm.echohq.com/
 
# Auth for Echo registry
//npm.echohq.com/:_authToken=${ECHO_LIBRARIES_ACCESS_KEY}
//packages.echohq.com/:_authToken=${ECHO_LIBRARIES_ACCESS_KEY}

# GitHub Packages scope
@checkmarx:registry=https://npm.pkg.github.com/

# GitHub Packages auth
//npm.pkg.github.com/:_authToken=
 
always-auth=true
ignore-scripts=true