.subtitle {
  margin-top: 0.5em;
  font-size: 1.2rem!important;
}

.h2,h2{
  font-size: 1.5rem!important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 0.625em;
  word-wrap: break-word;
  width: 20em;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.details {
  margin-left: 0.04em;
  margin-bottom: 0.5em;
}

.division {
  border-top: 1px solid var(--vscode-input-foreground);
  border-radius: 1px;
  margin: 0.5em 0em 0.5em 0em;
  opacity: 40%;
}

.gpt_logo {
  width: 1.6em;
  margin-right: auto;
  vertical-align: middle;
}

.logo {
  width: 2.5em;
  margin-right: auto;
  vertical-align: middle;
}

.details-table td {
  padding-left: 0.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


.details-table tr > td:nth-child(2) {
  border-left: 2px solid transparent;
}

.details-table tr:hover > td:nth-child(2) {
  border-left: 2px solid var(--vscode-input-foreground);
}

.details-table {
  border-spacing: 0 10px;
  border-collapse: separate;
  width: 100%;
}

.select-critical {
  margin: 0.4em;
  border-color: var(--vscode-input-foreground);
  border-radius: 4px;
  padding: 0.2em 0.5em 0.2em 1.5em;
  background-image: url("./icons/critical_untoggle.svg");
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;
  color: var(--vscode-foreground);
  cursor: pointer;
}

.select-high {
  margin: 0.4em;
  border-color: var(--vscode-input-foreground);
  border-radius: 4px;
  padding: 0.2em 0.5em 0.2em 1.5em;
  background-image: url("./icons/high_untoggle.svg");
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;
  color: var(--vscode-foreground);
  cursor: pointer;
}

.select-medium {
  margin: 0.4em;
  border-color: var(--vscode-input-foreground);
  border-radius: 4px;
  padding: 0.2em 0.5em 0.2em 1.5em;
  background-image: url("./icons/medium_untoggle.svg");
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;
  color: var(--vscode-foreground);
  cursor: pointer;
}

.select-info {
  margin: 0.4em;
  border-color: var(--vscode-input-foreground);
  border-radius: 4px;
  padding: 0.2em 0.5em 0.2em 1.5em;
  background-image: url("./icons/info_untoggle.svg");
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;
  color: var(--vscode-foreground);
  cursor: pointer;
}

.select-low {
  margin: 0.4em;
  border-color: var(--vscode-input-foreground);
  border-radius: 4px;
  padding: 0.2em 0.5em 0.2em 1.5em;
  background-image: url("./icons/low_untoggle.svg");
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;
  color: var(--vscode-foreground);
  cursor: pointer;
}

.state {
  margin: 0.4em;
  border-color: var(--vscode-input-foreground);
  border-radius: 4px;
  padding: 0.2em 0.5em 0.2em 1.5em;
  background-image: url("./icons/state.png");
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;
  color: var(--vscode-foreground);
  cursor: pointer;
}

.comment {
  margin: 0.4em;
  border-color: var(--vscode-input-foreground);
  border-radius: 4px;
  padding: 0.2em 0.5em 0.2em 1.5em;
  background-color: var(--vscode-input-background);
  background-image: url("./icons/comment.png");
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;
  color: var(--vscode-foreground);
}

.status:hover,
.state:hover,
.select-low:hover,
.select-info:hover,
.select-medium:hover,
.select-high:hover,
.comments:hover{
  border-color: var(--vscode-button-hoverBackground);
}

.submit{
  margin: 0.4em;
  width: auto;
  border-color: transparent;
  border-radius: 4px;
  padding: 0.2em 0.5em 0.2em 1.5em;
  background-image: url("./icons/status.png");
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;
  color: var(--vscode-foreground);
}

.submit:hover{
  margin: 0.4em;
  width: auto;
  border-color: transparent;
  border-radius: 4px;
  padding: 0.2em 0.5em 0.2em 1.5em;
  background-image: url("./icons/status.png") !important;
  background-repeat: no-repeat !important;
  background-size: 0.8em auto !important;
  background-position: 0.4em center !important;
  color: #cccccc;
}

input { display: none; }

input + label { display: inline-block }

input ~ .tab { display: none }
#general-tab:checked ~ .tab.general,
#learn-tab:checked ~ .tab.learn,
#code-tab:checked ~ .tab.code,
#changes-tab:checked ~ .tab.changes,
#ai-tab:checked ~ .tab.ai
{ display: block; }

input + label {
  color: var(--vscode-input-placeholderForeground);
  padding: 0.25em 0.75em;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: 1px;
  cursor: pointer;
}

input + label:hover{
  color: var(--vscode-editor-foreground);
}

input:checked + label {
  border-bottom: none;
  border-bottom: 1px solid ;
  color: var(--vscode-editor-foreground)
}

input ~ .tab {
  padding: 0.75em;
}

.comment-container{
  margin: 0.4em;
}

.comments{
  border-color: var(--vscode-input-foreground);
  border-radius: 4px;
  padding: 0.2em 0.5em 0.2em 0.2em;
  background-color:var(--vscode-input-background) ;
  color:var(--vscode-editor-foreground);
  resize: none;
  font-family: inherit;
}

.comment-placeholder{
  font-size: 0.9em;
  cursor: pointer;
}

.history-container {
  margin-top: 1em;
  padding: 0.5em;
}

#askGroup textarea{
    background-color: var(--vscode-input-background) !important;
    color: var(--vscode-foreground) !important;
}

#askGroup button{
    background-color: var(--vscode-input-background) !important;
    color: var(--vscode-foreground) !important;
    border-style :solid !important;
}

#askGroup textarea:focus {
  border-style: solid !important;
  border-color: var(--vscode-focusBorder) !important; /* matches VS Code focus outline */
  outline: none !important; /* prevents double focus outlines */
  box-shadow: 0 0 0 2px var(--vscode-focusBorder)40; /* optional soft glow */
}


#askGroup textarea::placeholder {
  color: var(--vscode-input-placeholderForeground) !important;
  opacity: 1 !important;
}

body[data-vscode-theme-kind*="dark"] {
  .history-container,
  .select-critical,
  .select-high,
  .select-medium,
  .select-info,
  .select-low,
  .state,
  .comment,
  .submit, 
  .details-table tr{
    background-color: var(--vscode-input-background);
  }

  button:hover {
    background: var(--vscode-button-hoverBackground);
  }
}

body[data-vscode-theme-kind="vscode-high-contrast"] {
  .history-container,
  .select-critical,
  .select-high,
  .select-medium,
  .select-info,
  .select-low,
  .state,
  .comment,
  .submit, 
  .details-table tr{
    background-color: rgb(54 53 53);
  }

  button:hover {
    background-color: #1177bb !important;
  }
}

body[data-vscode-theme-kind*="light"],
body[data-vscode-theme-kind*="vscode-light-high-contrast"] {
  .history-container,
  .select-critical,
  .select-high,
  .select-medium,
  .select-info,
  .select-low,
  .state,
  .comment,
  .submit, 
  .details-table tr{
    background-color: rgb(245, 245, 245);
  }

  button:hover {
    background: var(--vscode-button-hoverBackground);
  }
}

#headingOne button:hover{
  color: #fff !important;
}
.history-container:hover{
  border-left: 2px solid var(--vscode-input-foreground);
}

.history-container-loader{
  margin-top: 1em;
  padding: 0.5em;
}

.history-header{
  display: inline-block;
}

.username{
  float: left;
  font-weight: bold;
  width:calc(100% - 2.5em) ;
}

.date{
  margin:0.5em 0 0 0;
  float: left;
  font-size: 0.8em;
  color:var(--vscode-input-placeholderForeground);;
  width:calc(100% - 2.5em) ;
}

.text-content{
  margin-top: 0.5em;
}

.loader {
  border: 2px solid var(--vscode-button-foreground);
  border-radius: 50%;
  border-top: 2px solid var(--vscode-button-background);
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
  display: flex;
  float: left;
  margin-right: 0.5em;
}

@media only screen and (max-width: 650px) {
  .header-container{
    display: flex;
  }
}
@media only screen and (min-width: 651px) {
  .header-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.header-item-title{
  flex: 70%;
}

.header-item-gpt{
  flex: 15%;
}

.title_gpt{
  margin-top: 1.5em;
  color: #3794FF;
  cursor: pointer;
}

.header-item-codebashing{
  flex: 30%;
}

.codebashing-link{
  margin:0.4em;
  font-size: 0.9em;
  color: var(--vscode-input-placeholderForeground);
}

.orange-color{
  color:#f36a22;
}

.codebashing-link-value{
  color: var(--vscode-input-placeholderForeground);
}

.codebashing-link-value:hover{
  color: var(--vscode-editor-foreground);
  cursor: pointer;
}

.bfl-tip-loaded{
  font-size: 0.8em;
  display: none;
}

.bfl-tip-loading{
  font-size: 0.8em;
}

.bfl-tip-empty{
  font-size: 0.8em;
  display: none;
}

.bfl-container{
  display: none;
  margin-left: -20px;
}

.bfl-td{
  background: var(--vscode-inputValidation-infoBackground);
}

.bfl-logo{
  height: 65px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.learn-header{
  font-weight: bold;
}

.learn-section{
  margin-bottom: 10px;
}

.pre-code{
  white-space:pre-wrap;
  background:var(--vscode-input-background);
  padding: 0.4rem;
}

.code-sample{
  white-space: pre-wrap;
}

body.vscode-high-contrast code {
  background: rgba(255, 255, 255, 0.1) !important;
}

/* For VS Code Light High Contrast theme */
body.vscode-high-contrast-light.vscode-high-contrast code{
  background: rgba(0, 0, 0, 0.1) !important;
}