.inner-body{
	padding: 0 !important; /* force chat to be full webview width */
	color: var(--vscode-foreground) !important;
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background) !important;
}

.codeblockHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0;
    width: 100%;
    position: relative;
    border-radius: .5rem .5rem 0 0;
	border: 1px solid #26292D;
	border-width: 1px 1px 0px 1px;
	background-color: #0d1117;
}

.codeblockHeader > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.codeblockHeader span {
    text-transform: capitalize;
    padding: 0 1rem;
}

.copy-button{
	background: transparent;
	text-align: right;
	width: 20px;
}

.copy-button:hover{
	background: transparent;
}

.animated-text-thinking{
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: typing 1.5s steps(30, end) infinite;
	animation-duration: 2s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards;
	max-width:fit-content; /* prevent the cursor from going full width */
	margin-bottom: 0;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

#btn-back-to-top {
	position: fixed;
	bottom: 4px;
	right: 50%;
	display: none;
	width: 21px;
	height: 20px;
	background: #7BB9FF;
	border-radius: 20px;
	padding: 2px;
	z-index: 999;
}

#btn-back-to-top:hover {
	background: rgba(55, 148, 255, 0.55);
}

#send:hover{
	color:rgba(55, 148, 255, 0.75);
}

#askQuestion::placeholder {
	color: white;
}

.form-control:focus {
    border:none ; 
    outline: 0;
    box-shadow: none;
}

#explainFile,#explainResults,#explainRemediations{
	cursor: pointer;
}
  
.questionCard{
	background: rgba(55, 148, 255, 0.15);
	border: 1px solid rgba(55, 148, 255, 0.2);
	border-radius: 4px;
	position: relative;
	flex-direction:column;
	word-wrap: break-word;
	border-radius: 0.25rem;
	color: #3794FF;
}

.questionCard:hover{
	border:1px solid rgba(55, 148, 255, 0.5);
	background: rgba(55, 148, 255, 0.30);
}

.cardArrow{
	margin-right: 15px;
}

.avatar{
	width: 34px;
	height: 34px;
	border-style: solid;
	border-color: #6769725c;
	border-width:0.5px;
	border-radius: 50%;
}

.btn:disabled{
	opacity: 100 !important;
}

.inner-body-sast{
	padding: 0 !important; /* force chat to be full webview width */
	color: var(--vscode-foreground) !important;
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background) !important;
	min-height: 50vh;
	justify-content: center;
	display: flex;
}

.start-sast-chat{
	width: 250px;
	height: 250px;
	color: white;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 0 0 #434477;
	background: transparent;
	-webkit-animation: pulse 3s infinite;
}

.start-sast-chat:hover{
	width: 250px;
	height: 250px;
	color: white;
	border: none;
	border-radius: 50%;
	background: transparent;
	cursor: pointer;
	-webkit-animation:none;
	box-shadow: 0 0 0 1px #434477;
}

.sast-gpt-logo{
	height:110px ;
}

.start-chat-text{
	color: grey;
}

@-webkit-keyframes pulse {
    0% {
      transform: scale(.98);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 1px #434477;
    }
    100% {
      transform: scale(.98);
      box-shadow: 0 0 0 0 #434477;
    }
}

pre {
    white-space: pre-wrap;
	border: 1px solid #26292D;
	padding: 10px;
	color: var(--vscode-foreground);
	background-color: #0d1117;
}

.hljs{
    background: #1e1e1e !important;
    color: #cccccc !important;
}

pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#e9e9f4;background:#0d1117}.hljs ::selection,.hljs::selection{background-color:#4d4f68;color:#e9e9f4}.hljs-comment{color:#626483}.hljs-tag{color:#62d6e8}.hljs-operator,.hljs-punctuation,.hljs-subst{color:#e9e9f4}.hljs-operator{opacity:.7}.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable{color:#ea51b2}.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_{color:#b45bcf}.hljs-class .hljs-title,.hljs-title,.hljs-title.class_{color:#00f769}.hljs-strong{font-weight:700;color:#00f769}.hljs-addition,.hljs-code,.hljs-string,.hljs-title.class_.inherited__{color:#ebff87}.hljs-built_in,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp{color:#a1efe4}.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property{color:#62d6e8}.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type{color:#b45bcf}.hljs-emphasis{color:#b45bcf;font-style:italic}.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{color:#00f769}.hljs-meta .hljs-keyword,.hljs-meta-keyword{font-weight:700}

@media (min-width: 576px){
	.container {
		max-width: 100% !important;
	}
}
