body {
	padding: 0 !important; /* force chat to be full webview width */
	color: var(--vscode-foreground) !important;
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background) !important;
}

.animated-text{
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: typing;
	animation-duration: 2s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards;
	border-right: 1px solid;
	max-width:fit-content; /* prevent the cursor from going full width */
}

.animated-text-thinking{
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: typing 1.5s steps(30, end) infinite;
	animation-duration: 2s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards;
	max-width:fit-content; /* prevent the cursor from going full width */
	margin-bottom: 0;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

#btn-back-to-top {
	position: fixed;
	bottom: 4px;
	right: 50%;
	display: none;
	width: 30px;
	height: 22px;
	background: rgba(55, 148, 255, 0.35);
}

#btn-back-to-top:hover {
	background: rgba(55, 148, 255, 0.55);
}

#send:hover{
	color:rgba(55, 148, 255, 0.75);
}
/* #askGroup:hover{
	border:1px solid rgba(55, 148, 255, 0.5);
	border-radius: 4px;
} */

#askQuestion::placeholder {
	color: white;
}
  
#explainFile,#explainResults,#explainRemediations{
	cursor: pointer;
}
  
#explainFile:hover,#explainResults:hover,#explainRemediations:hover{
	border:1px solid rgba(55, 148, 255, 0.5);
}