:root {
  --cx-main-color: var(--vscode-input-foreground);
}

body {
  font-family: Arial, sans-serif;
}

.hidden {
  display: none !important;
}

.custom-header {
  text-align: left;
  background: var(--vscode-textPreformat-background);
  color: var(--cx-main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  height: 34px;
  font-size: 11px;
}

.result:hover {
  background: var(--vscode-textPreformat-background);
} 

/* For VS Code Dark High Contrast theme */
body.vscode-high-contrast .result:hover,
body.vscode-high-contrast .custom-header {
  background: rgba(255, 255, 255, 0.1) !important;
}

/* For VS Code Light High Contrast theme */
body.vscode-high-contrast-light.vscode-high-contrast .result:hover,
body.vscode-high-contrast-light.vscode-high-contrast .custom-header {
  background: rgba(0, 0, 0, 0.2) !important;
}

body.vscode-high-contrast-light.vscode-high-contrast .accordion button:hover,
body.vscode-high-contrast .accordion button:hover,
body.vscode-high-contrast-light.vscode-high-contrast .filter-category:hover,
body.vscode-high-contrast .accordion .filter-category:hover {
  background: #5c5656 !important;
  filter: brightness(1.5);
  color: #fff !important;
}

.result {
  cursor: pointer;
  height: 22px;
  font-size: 11px;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 244px;
  overflow-y: auto;
  overflow-x: hidden;
}

.codicon {
  vertical-align: text-bottom;
  padding-right: 6px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  vertical-align: top;
}

.index {
  margin-right: 10px;
}

.app-name {
  margin-right: 10px;
  flex-grow: 1;
  font-size: 13px;
}

.results-count {
  margin-right: 10px;
  opacity: 0.7;
}

.risk-score {
  padding: 3px 10px 3px 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 22px;
}

.critical-risk {
  color: #bb2a31d9;
  border: 1px solid #bb2a31d9;
}

.high-risk {
  color: #f8788fe5;
  border: 1px solid #f8788fe5;
}

.medium-risk {
  color: #e7984999;
  border: 1px solid #e7984999;
}

.low-risk {
  color: #419128;
  border: 1px solid #419128;
}

.custom-header::after {
  display: none !important;
}

.custom-header:focus,
.custom-header:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button:hover {
  background: var(--vscode-input-background);
  filter: brightness(1.5);
}

.accordion button:hover {
  background: #5c5656 !important;
  filter: brightness(1.5);
  color: #fff !important;
}

svg {
  vertical-align: text-top;
  color: var(--cx-main-color);
}

.sort-button svg {
  vertical-align: top;
}

.details {
  cursor: not-allowed;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

body[data-vscode-theme-kind*="dark"] .tooltip .tooltip-inner,
body[data-vscode-theme-kind="vscode-high-contrast"] .tooltip .tooltip-inner {
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #333 !important;
}

body[data-vscode-theme-kind*="light"] .tooltip .tooltip-inner,
body[data-vscode-theme-kind*="vscode-light-high-contrast"] .tooltip .tooltip-inner {
  background-color: #fff !important;
  color: #333 !important;
  border: 1px solid #ccc !important;
}


.app-header {
  text-align: left;
  color: var(--cx-main-color);
  padding: 10px;
  width: 100%;
  height: 34px;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr.separator {
  border: none;
  height: 1px;
  background-color: var(--cx-main-color);
  margin-bottom: 6px;
}

.filter-title {
  color: var(--cx-main-color);
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 0;
}

.filter-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 6px;
  min-width: 0;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  flex: 1;
  justify-content: flex-start;
  min-width: 0;
}

.filter-buttons button {
  max-width: 100%;
  width: auto;
  border: 1px solid #3f3f3f;
  background-color: transparent;
  color: var(--cx-main-color);
  border-radius: 16px;
  padding: 2px 12px;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: color 0.2s ease;
  white-space: nowrap;
  font-weight: 400;
  opacity: 0.7;
}

.filter-buttons button.selected {
  max-width: 100%;
  width: auto;
  color: var(--cx-main-color);
  font-weight: 500;
  opacity: 1;
  border-color: var(--cx-main-color);
}

svg {
  vertical-align: text-top;
}

.no-results-message {
  opacity: 0.7;
}

.loading {
  display: flex;
  justify-content: center;
}

.error-message {
  background-color: #5c2e37;
  color: white;
  padding: 3px;
  border-radius: 27px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.error-message img {
  margin-bottom: -2.24px;
}
.sort-menu-container {
  position: relative;
}

.sort-button {
  background: transparent;
  color: var(--cx-main-color);
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 11px;
  display: flex;
  align-items: center;
  padding: 0px;
}

.sort-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: var(--vscode-input-background);
  border: 1px solid #3f3f3f;
  border-radius: 4px;
  z-index: 1000;
  width: 150px;
  display: none;
}

.sort-menu.show {
  display: block;
}

.filter-menu.show {
  display: block;
}

.sort-option {
  padding: 6px 12px;
  cursor: pointer;
  font-size: 11px;
  color: var(--cx-main-color);
}

.sort-option:hover {
  background: var(--vscode-textPreformat-background);
}

.sort-display-option {
  opacity: 0.7;
}

.sort-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.app-icons {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;
}

.sort-title {
  opacity: 0.7;
  pointer-events: none;
}

hr.separator-vertical {
  border: none;
  height: 12px;
  width: 1px;
  background-color: var(--cx-main-color);
}

.filter-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: var(--vscode-input-background);
  border: 1px solid #3f3f3f;
  border-radius: 4px;
  z-index: 1000;
  width: 200px;
  display: none;
}
.filter-title-option {
  padding: 6px 12px;
  font-size: 11px;
  color: var(--cx-main-color);
  opacity: 0.7;
  pointer-events: none;
}

.filter-category {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  padding: 8px 12px;
  color: var(--cx-main-color);
  cursor: pointer;
}
.filter-category .chevron {
  font-size: 13px;
  transition: transform 0.2s ease;
}

.filter-category.expanded .chevron {
  transform: rotate(90deg);
}

.filter-category:hover {
  background-color: var(--vscode-textPreformat-background);
}

.filter-count {
  opacity: 0.7;
  margin-left: 1px;
}

.filter-submenu {
  display: flex;
  flex-direction: column;
}
.filter-submenu.hidden {
  display: none;
}
.filter-submenu label {
  font-size: 11px;
  color: var(--cx-main-color);
  display: flex;
  align-items: center;
  gap: 6px;
}

.filter-separator {
  border: none;
  height: 1px;
  background-color: var(--cx-main-color);
  opacity: 0.3;
  margin: 6px 0;
}

.filter-actions {
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
  gap: 8px;
}

.filter-btn {
  font-size: 11px;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
}

.filter-btn.cancel {
  background: transparent;
  color: var(--cx-main-color);
  border: 1px solid transparent;
}

.filter-btn.apply {
  background: transparent;
  color: var(--cx-main-color);
  border: 1px solid var(--cx-main-color);
}
.filter-btn.apply:hover {
  background: var(--vscode-textPreformat-background);
}

.filter-option {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  cursor: pointer;
  color: var(--cx-main-color);
  padding: 6px 12px;
  line-height: 1;
}

.filter-button {
  vertical-align: top;
  background: transparent;
  color: var(--cx-main-color);
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 11px;
  display: flex;
  align-items: center;
  padding: 3px;
}

.sort-button.has-selection svg {
  color: #2b77d2;
}

.sort-button.active {
  background-color: #2b77d2;
  color: white;
}

.app-icons .sort-wrapper .sort-button.active svg {
  color: white;
}

.filter-button.filter-open {
  background-color: #2b77d2;
  color: white;
}

.filter-badge div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.center-badge {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-submenu label[for="vuln-all"],
.filter-submenu label[for="trait-all"] {
  font-weight: bold;
  color: var(--cx-main-color);
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 12px;
  border-radius: 12px;
  margin-left: auto;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b0b3b8;
  transition: 0.3s;
  border-radius: 12px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9.6px;
  width: 9.6px;
  left: 1.2px;
  bottom: 1.2px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.toggle-switch input:checked + .slider {
  background-color: #3376cd;
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(12px);
}
