body {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100vh;
	width: 635px;
	background-color: var(--vscode-editor-background);
	font-family: var(--vscode-font-family);
	color: var(--vscode-foreground);
	padding: 20px;
}

.auth-container {
	padding: 50px;
	background: var(--vscode-input-background);
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	text-align: left;
	width: 100%;
}

body[data-vscode-theme-kind="vscode-high-contrast"] {

	.auth-container {
		background: #3c3c3c
	}
	.auth-button{
		background: #0e639c
	}
}

.auth-form{
	position: relative;
}

.auth-form-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
}

.radio-group {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	margin-bottom: 15px;
}

.form-label {
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
}

.auth-input {
	width: 100%;
	height: 27px;
	padding: 8px;
	border: 1px solid var(--vscode-input-foreground);
	border-radius: 7px;
	background: var(--vscode-input-background);
	color: var(--vscode-input-foreground);
	filter: brightness(1.5);
}

.authenticated-message{
	display: flex;
    align-items: center;
	margin-top: 40px;
}

.auth-button {
    background: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    height: 32px;
    display: flex;
    align-items: center;
    padding-inline: 15px;
    font-size: 13px;
}

.auth-button img {
    margin-right: 4px;
}

.auth-button svg { path { fill: var(--cx-v2-color-blue-70); }}
.auth-button:disabled {
    cursor: not-allowed !important;
    opacity: 0.6 !important;
}

.hidden {
	display: none;
}

.message {
	margin-top: 40px;
	padding: 10px;
	border-radius: 27px;
	font-size: 16px;
	display: flex;
    align-items: start;
    gap: 5px;
}

.error-message {
    background-color: #5C2E37;
    color: white;
}

.success-message {
	background-color: #404D3F; 
    color: white;
}

.message img {
    width: 20px;
    height: 20px;
}

.autocomplete-items {
	position: absolute;
    background: var(--vscode-input-background);
    border-radius: 7px;
    width: 100%;
    max-height: 190px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
	padding:5px;
}

.autocomplete-items .autocomplete-item {
	padding: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: background-color 0.2s ease-in-out;
	height: 16px;
	margin: 3px;
	font-size: 13px;
}

.autocomplete-items .autocomplete-item i {
	margin-left: 10px;
	color: #0d6efd;
}