body {
	padding: 0 !important; /* force chat to be full webview width */
	color: var(--vscode-foreground) !important;
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background) !important;
}